*{
    margin: 0;
    padding: 0;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../img/bg.jpg"); 
    position: absolute;
}
.form-box{
    width: 380px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.button{
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #f2d8c2;
    border-radius: 30px;
    outline: none;
}

.button .toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    left: 0px;
    position: absolute;
    width: 115px;
    height: 100%;
    background: linear-gradient(to right,#a663e6,#e8934d);
    border-radius: 30px;
    transition: .5s;
}

.inputs{
    margin-top: 100px;
    top: 20px;
    margin-bottom: 20px;
    position: absolute;
    width: 210px;
    transition: .5s;
}

.inputs input{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    margin-top: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.inputs a:link{
    margin-top: 320px;
    left: 80px;
    top: 20px;
    margin-bottom: 20px;
    position: absolute;
    width: 210px;
    transition: .5s;
    cursor: pointer;
    text-decoration: none;
    color: #a663e6;
}

.inputs button{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(to right,#a663e6,#e8934d);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.inputs #botao{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 140px;
    background: linear-gradient(to right,#a663e6,#e8934d);
    border: 0;
    outline: none;
    border-radius: 30px;
}


#login{
    left: 80px;
}
#register{
    left: 600px;
}